/* Feed style */
.posts {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

article {
  position: relative;
  margin: 0.5rem;
  width: 48%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-out;
}

article:nth-child(odd) {
  margin-left: 0;
}

article:nth-child(even) {
  margin-right: 0;
}

article a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

article:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

header {
  position: relative;
}

.image {
  position: relative;
  width: 160px;
  height: 100px;
  margin: 0;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.date {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 20px;
  position: absolute;
  padding: 10px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  z-index: 9;
  top: 0;
  left: 0;
}

.date p.day, .date p.month {
  color: #fff;
}

.date p {
  margin: 0;
}

.post-details {
  margin: auto 1rem;
  font-weight: 300;
  text-align: left;
}

.post-details .post-meta {
  display: none;
}

.post-details .post-author {
  display: none;
}

.post-details .post-description {
  display: none;
}

.post-details .tags {
  display: none;
}

.post-details .category {
  font-size: 0.5rem;
  text-transform: uppercase;
  margin: 2px;
}

@media screen and (max-width: 768px) {
  .posts {
    width: 80%;
    flex-direction: column;
    margin: auto;
  }

  article {
    margin: 0 0 2rem;
    width: 100%;
  }

  article:hover {
    transform: none;
  }

  article:hover img {
    opacity: 0.8;
    filter: alpha(opacity=30);
  }

  .image img {
    height: 300px;
  }

  .post-details {
    padding-bottom: 1rem;
  }

  .tags {
    display: none;
    min-height: 0;
  }
}
